@layer theme, base, mui, components, utilities;
@import "tailwindcss";
@import "quill/dist/quill.snow.css";

@theme {
  --color-black: oklch(0.3211 0 0);
  --color-red: oklch(0.6013 0.2443 25.86);
  --color-blue: oklch(0.6304 0.18 259.96);
  --color-green: oklch(0.614 0.0913 197.88);
}

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  background-color: #3a3937;
  background-image: url("/bg.webp");
  color: white;
}

a {
  text-decoration: inherit;
}

.ql-editor img,
.ql-editor svg,
.ql-editor video,
.ql-editor canvas,
.ql-editor audio,
.ql-editor iframe,
.ql-editor embed,
.ql-editor object {
  display: inline-block !important;
}
