@import "tailwindcss";

@theme {
  --color-black: oklch(0.3211 0 0);
  --color-red: oklch(0.6013 0.2443 25.86);
}

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  background-color: #3a3937;
  background-image: url("/bg.webp");
  color: white;
}
