@import "tailwindcss";

@theme {
  --color-black: #333333;
}

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  background-color: #3a3937;
  background-image: url("/bg.webp");
  color: white;
}
